/*
 * CSS Credits:
 *  the starting point http://js13kgames.com/entries/lost-in-cyberspace
 *  flicker animation taken from http://goonhub.com/secret
 *  scanlines based on https://blog.carbonfive.com/2015/01/07/vintage-terminal-effect-in-css3/
 *  noise solution based on Temani Afif https://codepen.io/t_afif/pen/RwyqLKZ
 */
body {
  margin: 0;
  background: black;
}
:root {
  --background: #031e11;
}
@media (min-width: 800px) {
  :root {
    --size: 1.5;
  }
}
@media (min-width: 1200px) {
  :root {
    --size: 2;
  }
}
